html, body{
    height:100%;
    background:rgb(68, 0, 68);
    font-family:"Vesper Libre", serif;
}
a{
    text-decoration:none;
    font-weight:bolder;
}
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100%;

}
.first-row{
    flex-direction:row;
    display:flex;
    width:50%;
    height:20%;
    text-align:center;
    align-items:center;


}
.quotebox{
    border-radius:1%;
    margin:0 5px 0 0;
    color:rgb(68, 0, 68);
    background:gainsboro;
    box-shadow: 1px 1px 2px darkslategrey;
    border:1px dotted yellow;
    flex:1;
    display:flex;
    height:150px;
    flex-basis:75%;
    justify-content:center;
    align-items:center;

}
.quote-text{
    padding: 10px;
}
.buttons{
    border-radius:1%;
    background:gainsboro;
    box-shadow: 1px 1px 2px darkslategrey;
    display:flex;
    height:100%;
    flex:1;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
}
.button-twitter{
    border:none;
    border-radius:1%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex:1;
    padding:5px;
    color:black;
    background:skyblue;
}
.button-fb{
    border:none;
    padding:5px;
    border-radius:1%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex:1;
    color:gainsboro;
    background:darkblue;

}
.second-row{
    margin-top:15px;
    background:gainsboro;
    color:rgb(68, 0, 68);
    border-radius:1%;
    box-shadow: 1px 1px 2px darkslategrey;


    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
}
.about-text{
    padding:10px;
}


/* On-Hover */
.quotebox:hover{
    box-shadow: 2px 2px 4px darkslategrey;
}
.button-fb:hover{
    box-shadow: 2px 2px 4px darkslategrey;
}
.button-twitter:hover{
    box-shadow: 2px 2px 4px darkslategrey;
}
.second-row:hover{
    box-shadow: 2px 2px 4px darkslategrey;
}